.modal-container {
  border-radius: 3rem;
  background-color: white;
  padding: 3rem;
}

.main-input {
  border-radius: 2rem;
  width: 100%;
  padding: 1rem 1.5rem;
}

.form_close {
  background-color: transparent;
}

.modal__tile {
  font-size: 3rem;
  color: var(--green);
  margin-bottom: 20px;
}

.main-input {
  cursor: pointer;
  color: var(--green);
  font-size: 18px;
  border: 1px solid rgba(13, 140, 70, 0.2);
  transition: border-color .3s ease-in-out;
}

.main-input::placeholder {
  color: rgba(13, 140, 70, 0.8);
}

.main-input:focus-visible {
  border: 2px solid;
  border-color: var(--green);
  outline: none;
}

.main-input:focus::placeholder {
  color: var(--green)
}

.main-input:hover {
  border-color: var(--green);
  outline: none;
}

.birthDate {
  color: rgba(13, 140, 70, 0.95);
  margin-left: 10px;
  margin-bottom: 5px;
}

.submit__col {
  display: flex;
  justify-content: center;
}

.submit__btn {
  margin-top: 15px;
  padding: 12px 44px;
}

.float-end {
  opacity: 0.6;
  cursor: pointer;
  transition: opacity .3s ease-in-out;
}

.float-end:hover {
  opacity: 1;
}
