<div class="container-fluid p-3">
  <div class="row">
    <div class="col-auto m-auto">
      <div class="test__content">
        <div class="row">
          <div class="col">
            <div class="test__head">
              <p class="head__text">
                Пройдите 3 уровня выбора и получите подробные рекомендации занятий
              </p>
              <span class="head__cnt">
                {{testModel.question.questionId}}/3
              </span>
            </div>
          </div>
        </div>
        <label>
          <h1 class="test__title">
            Выберите категории: <span class="sub-text">(доступно {{getAvailableAnswerCount() -
              getCheckedCount()}})</span>
          </h1>
        </label>
        <app-preloader-comp *ngIf="!testModel.answerModels"></app-preloader-comp>

        <div class="row" *ngIf="testModel.answerModels">
          <div [ngClass]="{'answer-active': answer.isChecked, 'answer': !answer.isChecked}" class="col-auto"
            *ngFor="let answer of testModel.answerModels">
            <input class="form-check-input" type="checkbox" name="flexCheckBoxDefault1" [(ngModel)]="answer.isChecked"
              [disabled]="isDisabled() && !answer.isChecked">
            <label class="form-check-label">{{answer.answer}}</label>
          </div>
        </div>
        <button class="btn next-btn btn-reset" (click)="sendAnswer()">Далее</button>
      </div>
    </div>
  </div>
</div>
