.test__container {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(13, 110, 253);
  animation: 0.5s ease-in;
  transition: 0.5s;
}

.test__content {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(13, 110, 253, 0.5);;
  padding: 30px 40px 30px 40px;
  border-radius: 16px;
  width: 100%;
  max-width: 780px;
}

.test__head {
  display: flex;
  justify-content: space-between;
}

.head__text {
  width: 100%;
  max-width: 50%;
}

.head__cnt {
  font-size: 20px;
}

.test__title {
  font-size: 30px;
  margin-bottom: 30px;
}

.lists__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 18px;
}

.test__list {
margin-bottom: 10px;
}

.list__item:not(:last-child) {
  margin-bottom: 10px;
}

.form-check-input {
  margin-right: 5px;
}

.next-btn {
  align-self: flex-end;
  border: 1px solid rgba(13, 110, 253);
  padding: 12px 30px;
  border-radius: 16px;
  color: #fff;
  background-color: rgba(13, 110, 253); ;
  font-size: 20px;
}


.answer{
  margin-bottom: 1.5rem;
  border-radius: 2rem;
  border: 1px solid rgba(13, 110, 253, 0.8);
  padding: 15px;
}

.answer-active{
  background-color: rgba(13, 110, 253);
  color: white !important;
  margin-bottom: 1.5rem;
  border-radius: 2rem;
  border: 1px solid rgba(13, 110, 253, 0.8);
  padding: 15px;
}

.sub-text{
  color: rgb(0,0,0,0.5);
  font-size: 20px
}
