.test__container {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: 0.5s ease-in;
  transition: 0.5s;
}

.test__content {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(13, 140, 70, 0.5);
  padding: 30px 40px 30px 40px;
  border-radius: 16px;
  width: 100%;
  max-width: 780px;
  animation: fade .7s ease;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

.test__head {
  display: flex;
  justify-content: space-between;
}

.head__text {
  color: rgba(13, 140, 70, .8);
  ;
  width: 100%;
  max-width: 50%;
}

.head__cnt {
  color: rgb(204, 34, 34);
  font-size: 20px;
}

.test__title {
  color: var(--green);
  font-size: 30px;
  margin-bottom: 30px;
}

.lists__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 18px;
}

.test__list {
  margin-bottom: 10px;
}

.list__item:not(:last-child) {
  margin-bottom: 10px;
}

.form-check-input {
  margin-right: 5px;
  pointer-events: all;
}

.form-check-label {
  cursor: pointer;
}

.next-btn {
  align-self: flex-end;
  border: 1px solid transparent;
  padding: 12px 30px;
  border-radius: 16px;
  color: #fff;
  background-color: rgb(204, 34, 34);
  font-size: 20px;
  transition: background-color .3s ease-in-out;
}

.answer {
  margin: 5px;
  border-radius: 2rem;
  border: 1px solid rgba(13, 140, 70, .8);
  padding: 15px;
  animation: fade .6s ease;
}

.answer-active {
  background-color: rgba(13, 140, 70, .8);
  color: white !important;
  margin: 5px;
  border-radius: 2rem;
  border: 1px solid transparent;
  padding: 15px;
  animation: smoothcolor .3s ease;
}

@keyframes smoothcolor {
  0% {
    background-color: rgba(13, 140, 70, .1);
  }

  100% {
    background-color: rgba(13, 140, 70, .8);
  }
}

.sub-text {
  color: rgb(0, 0, 0, 0.5);
  font-size: 20px
}


@media (max-width: 576px) {
  .head__text {
    font-size: 12px;
  }

  .test__title {
    font-size: 20px;
  }

  .next-btn {
    padding: 10px 20px;
    font-size: 16px;
  }

  .test__content {
    padding: 20px;
  }

  .answer {
    padding: 10px;
  }

  .answer-active {
    padding: 10px;
  }
}
