/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;800&display=swap');

:root {
  --green: #0D8C46;
  --red: #CC2222;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  box-sizing: inherit;
}

p {
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
}

body {
  min-width: 320px;
  margin: 0 auto;
  font-family: 'Golos Text', sans-serif !important;
  font-weight: 400;
  font-style: normal;
  background-color: #f2f2f2;
  color: #0e0e0e;
}

.container {
  max-width: 1140px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.title {
  color: var(--green);
  margin-bottom: 15px;
}

.main-modal-custom .modal-content {
  background-color: transparent;
  border: none;
}

.btn {
  border-color: var(--red) !important;
  background-color: var(--red) !important;
  transition: all .3s ease-in-out !important;
}

.btn:focus-visible {
  box-shadow: 0 0 0 0.25rem rgba(204, 34, 34, 0.5) !important;
}

.btn:hover {
  border-color: transparent !important;
  background-color: rgba(204, 34, 34, 0.5) !important;
}
