.container {
  padding-top: 30px;
}

.card__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
  margin-bottom: 15px;
}

.destinations__title {
  font-weight: 800;
  margin-bottom: 30px;
}

.destinations__card {
  width: 48%;
  display: flex;
  border: 1px solid rgba(13, 140, 70, 0.4);
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  background-color: rgba(13, 140, 70, 0.05);
  padding: 10px 20px;
  min-height: 190px;
}

.destinations__card:not(:last-of-type) {
  margin-right: 15px;
  margin-bottom: 15px;
}

.destinations__card:last-of-type {
  margin-bottom: 15px;
}

.card__title {
  color: var(--red);
  font-weight: 600;
  margin-bottom: 15px;
}

.link {
  font-size: 17px;
  color: #000;
  text-decoration: none;
  max-width: 100%;
  width: 100%;
}

.list__item:not(:last-child) {
  margin-bottom: 15px;
}

.recommend__title {
  font-weight: 600;
}

.recommend__container {
  padding-top: 0;
  padding-bottom: 30px;
}


@media (max-width: 1000px) {
  .destinations__card {
    width: 47%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 576px) {
  .destinations__title {
    font-size: 30px;
  }

  .link {
    font-size: 13px;
  }

  .list__item:not(:last-child) {
    margin-bottom: 5px;
  }

  .card__title {
    margin-bottom: 5px;
    font-size: 17px;
  }

  .destinations__card {
    width: 45%;
    min-height: 153px;
    padding: 6px 8px;
  }

  .destinations__card:not(:last-child) {
    margin-right: 8px;
  }

  .container {
    max-width: 540px;
    padding-top: 15px;
  }

  .recommend__container {
    padding-bottom: 15px;
  }

  .recommend__btn {
    font-size: 16px;
  }

  .recommend__title {
    font-size: 20px;
  }

  .recommend__text {
    font-size: 14px;
  }

}
