
<div class="Interesting">
    Рекомендуемые направления
</div>

<div class="container text-center">
    <div class="row">
      <div class="col">
        <div class = "textInGrid">
            Образование
      </div>
        <p>
            <a class="link" href="#">Пеший лекторий</a>
        </p>
        <p>
            <a class="link" href="#">Английский язык</a>
        </p>
        <p>
            <a class="link" href="#">Шахматы и шашки</a>
        </p>
      </div>
      <div class="col">
        <div class = "textInGrid">
            Физическая активность
          </div>
        <p>
            <a class="link" href="#">Скандинавская ходьба</a>
        </p>
        <p>
            <a class="link" href="#">ОНЛАЙН Суставная гимнастика</a>
        </p>
        <p>
            <a class="link" href="#">ОНЛАЙН Оздоровительная гимнастика</a>
        </p>
      </div>
      <div class="col">
        <div class = "textInGrid">
            Творчество
          </div>
        <p>
            <a class="link" href="#">ОНЛАЙН Мастер-класс по уходу за кожей в зрелом возрасте</a>
        </p>
        <p>
            <a class="link" href="#">Рисование</a>
        </p>
        <p>
            <a class="link" href="#">Пение</a>
        </p>
      </div>
      <div class="col">
        <div class = "textInGrid">
            Специальные программы
          </div>
        <p>
            <a class="link" href="#">Московский театрал</a>
        </p>
        <p>
            <a class="link" href="#">Секреты добрососедства</a>
        </p>
        <p>
            <a class="link" href="#">ОНЛАЙН Психологические тренинги</a>
        </p>
      </div>
    </div>
  </div>


<div class="Interesting">
    Поможем вам подобрать интересные занятия
    <div class = "InterestingText">
        Пройдите тест и узнайте, какие направления подходят именно вам.
    </div>
    <button type="button" class="btn btn-primary btn-lg">Подобрать занятие</button>
</div>
