<div class="container destinations__container">
  <h1 class="title destinations__title">
    Рекомендуемые направления
  </h1>
  <div class="row">
    <div class="col-3 destinations__card" *ngFor="let item of events_education">
      <h3 class="card__title">
        Образование
      </h3>
      <ul class="links__list list-reset">
        <li class="list__item">
          <a class="link" href="#">{{item.name[0]}}</a>
        </li>
        <li class="list__item">
          <a class="link" href="#">{{item.name[1]}}</a>
        </li>
        <li class="list__item">
          <a class="link" href="#">{{item.name[2]}}</a>
        </li>
      </ul>
    </div>
    <div class="col-3 destinations__card" *ngFor="let item of events_heal">
      <h3 class="card__title">
        Физическая активность
      </h3>
      <ul class="links__list list-reset">
        <li class="list__item">
          <a class="link" href="#">{{item.name[0]}}</a>
        </li>
        <li class="list__item">
          <a class="link" href="#">{{item.status[1]}} {{item.name[1]}}</a>
        </li>
        <li class="list__item">
          <a class="link" href="#">{{item.status[1]}} {{item.name[2]}}</a>
        </li>
      </ul>
    </div>
    <div class="col-3 destinations__card" *ngFor="let item of events_creative">
      <h3 class="card__title">
        Творчество
      </h3>
      <ul class="links__list list-reset">
        <li class="list__item">
          <a class="link" href="#">{{item.status[1]}} {{item.name[0]}}</a>
        </li>
        <li class="list__item">
          <a class="link" href="#">{{item.name[1]}}</a>
        </li>
        <li class="list__item">
          <a class="link" href="#">{{item.name[2]}}</a>
        </li>
      </ul>
    </div>
    <div class="col-3 destinations__card" *ngFor="let item of events_specially">
      <h3 class="card__title">
        Специальные программы
      </h3>
      <ul class="links__list list-reset">
        <li class="list__item">
          <a class="link" href="#">{{item.name[0]}}</a>
        </li>
        <li class="list__item">
          <a class="link" href="#">{{item.name[1]}}</a>
        </li>
        <li class="list__item">
          <a class="link" href="#">{{item.status[1]}} {{item.name[2]}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container recommend__container">
  <h2 class="title recommend__title">
    Поможем вам подобрать интересные занятия
  </h2>
  <p class="recommend__text">
    Пройдите тест и узнайте, какие направления подходят именно вам.
  </p>
  <!-- <div *ngIf="condition; else elseBlock"></div> -->
  <button type="button" class="btn btn-primary btn-lg recommend__btn" (click)="ShowRegistryModal()">Подобрать занятие</button>
  <!-- <ng-template #thenBlock></ng-template>
  <ng-template #elseBlock>
    <div class="modal__container">
      <form action="" class="form">
        <h3 class="form__title">Заполните данные</h3>
        <input type="text" class="form__input" placeholder="Введите ваше ФИО">
        <input type="date" class="form__input" placeholder="Введите вашу дату рождения">
        <button class="form__btn" type="submit">Отправить</button>
      </form>
      <button class="form_close" (click)="toggle()">
        <svg width="26" height="26" viewBox="0 0 26 26">
          <path d="M21.5 21.5L4 4M21.5 4L4 21.5" stroke="#f2f2f2" stroke-width="8" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </button>
    </div>
  </ng-template> -->
</div>
