.container {
  padding-top: 30px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
  margin-bottom: 15px;
}

.destinations__title {
  margin-bottom: 40px;
}

.col-3 {
  width: 24%;
  display: flex;
  border: 1px solid rgba(120, 120, 120, 0.3);
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  background-color: rgba(240, 240, 240, 0.5);
  padding: 10px 20px;
  min-height: 240px;
}

.col-3:not(:last-of-type) {
  margin-right: 15px;
  margin-bottom: 15px;
}

.col-3:last-of-type {
  margin-bottom: 15px;
}

.card__title {
  font-weight: bold;
  font-size: 21px;
  margin-bottom: 20px;
}

.link {
  font-size: 16px;
  font-weight: 500px;
  color: rgb(65, 65, 243);
  text-decoration: none;
  max-width: 100%;
  width: 100%;
}

.list__item:not(:last-child) {
  margin-bottom: 15px;
}
