<div class="container destinations__container">
  <h1 class="title destinations__title">
    Рекомендуемые направления
  </h1>
  <div class="row card__wrapper">
    <div class="col-3 destinations__card" *ngFor="let item of events_education">
      <h3 class="card__title title">
        Образование
      </h3>
      <ul class="links__list list-reset">
        <li class="list__item">
          <a class="link" href="#">{{item.name[0]}}</a>
        </li>
        <li class="list__item">
          <a class="link" href="#">{{item.name[1]}}</a>
        </li>
        <li class="list__item">
          <a class="link" href="#">{{item.name[2]}}</a>
        </li>
      </ul>
    </div>
    <div class="col-3 destinations__card" *ngFor="let item of events_heal">
      <h3 class="card__title title">
        Физическая активность
      </h3>
      <ul class="links__list list-reset">
        <li class="list__item">
          <a class="link" href="#">{{item.name[0]}}</a>
        </li>
        <li class="list__item">
          <a class="link" href="#">{{item.status[1]}} {{item.name[1]}}</a>
        </li>
        <li class="list__item">
          <a class="link" href="#">{{item.status[1]}} {{item.name[2]}}</a>
        </li>
      </ul>
    </div>
    <div class="col-3 destinations__card" *ngFor="let item of events_creative">
      <h3 class="card__title title">
        Творчество
      </h3>
      <ul class="links__list list-reset">
        <li class="list__item">
          <a class="link" href="#">{{item.status[1]}} {{item.name[0]}}</a>
        </li>
        <li class="list__item">
          <a class="link" href="#">{{item.name[1]}}</a>
        </li>
        <li class="list__item">
          <a class="link" href="#">{{item.name[2]}}</a>
        </li>
      </ul>
    </div>
    <div class="col-3 destinations__card" *ngFor="let item of events_specially">
      <h3 class="card__title title">
        Специальные программы
      </h3>
      <ul class="links__list list-reset">
        <li class="list__item">
          <a class="link" href="#">{{item.name[0]}}</a>
        </li>
        <li class="list__item">
          <a class="link" href="#">{{item.name[1]}}</a>
        </li>
        <li class="list__item">
          <a class="link" href="#">{{item.status[1]}} {{item.name[2]}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container recommend__container">
  <h2 class="title recommend__title">
    Поможем вам подобрать интересные занятия
  </h2>
  <p class="recommend__text">
    Пройдите тест и узнайте, какие направления подходят именно вам.
  </p>
  <button type="button" class="btn btn-primary btn-lg recommend__btn" (click)="ShowRegistryModal()">Подобрать занятие</button>
</div>
