.container {
  padding-top: 30px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  font-family: "Montserrat", sans-serif;
  padding-left: 10px;
  margin-bottom: 15px;
}

.destinations__title {
  margin-bottom: 40px;
}

.col-3 {
  width: 24%;
  display: flex;
  border: 1px solid rgba(120, 120, 120, 0.3);
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  background-color: rgba(240, 240, 240, 0.5);
  padding: 10px 20px;
  min-height: 240px;
}

.col-3:not(:last-of-type) {
  margin-right: 15px;
  margin-bottom: 15px;
}

.col-3:last-of-type {
  margin-bottom: 15px;
}


.card__title {
  font-weight: bold;
  font-size: 21px;
  margin-bottom: 20px;
}

.link {
  font-size: 16px;
  font-weight: 500px;
  color: rgb(65, 65, 243);
  text-decoration: none;
  max-width: 100%;
  width: 100%;
}

.list__item:not(:last-child) {
  margin-bottom: 15px;
}

.modal__container {
  position: absolute;
  top: 30%;
  z-index: 2;
  left: 29%;
  width: 40vw;
  height: 100%;
  max-height: 300px;
  background-color: rgba(142, 142, 149, 0.9);
  color: #f2f2f2;
  overflow: hidden;
  border-radius: 16px;
  animation: fade 0.3s ease-in-out;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 12px 25px;
  width: 100%;
}

.form__title {
  font-size: 32px;
  margin-bottom: 20px;
}

.form__input {
  max-width: 385px;
  width: 100%;
  border-radius: 16px;
  padding: 10px;
  outline: none;
  border: none;
  margin-bottom: 20px;
}

.form__input:last-of-type {
  margin-bottom: 38px;
}

.form__btn {
  padding: 12px 18px;
  border-radius: 8px;
  border: none;
}

.form_close {
  position: absolute;
  top: 5%;
  right: 2%;
  width: 40px;
  height: 40px;
  border: none;
  fill: white;
  background-color: transparent;
  opacity: 0.8;
}

.recommend__btn {
  margin: 0;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
