<div class="header">
  <div class="container header__container">
    <h1 class="title">Поиск занятий</h1>
    <div class="search__area">
      <input type="text" name="search" class="header__search" [(ngModel)]="searchText">
      <button class="search__btn btn-reset">
        Найти
      </button>
    </div>
    <ul class="filters__area list-reset">
      <li class="filters__item">
        <ng-select class="custom" [items]="works" bindLabel="name" bindValue="id" (change)="itemSelected($event)"
          [multiple]="true" placeholder="Выберите направление"></ng-select>
      </li>
      <li class="filters__item">
        <ng-select class="custom" [items]="format" bindLabel="name" bindValue="id" (change)="itemSelected($event)"
          [multiple]="true" placeholder="Выберите формат занятия"></ng-select>
      </li>
      <li class="filters__item">
        <ng-select class="custom" [items]="days" bindLabel="name" bindValue="id" (change)="itemSelected($event)"
          [multiple]="true" placeholder="Выберите день недели"></ng-select>
      </li>
      <li class="filters__item">
        <ng-select class="custom" [items]="times" bindLabel="name" bindValue="id" (change)="itemSelected($event)"
          [multiple]="true" placeholder="Выберите время"></ng-select>
      </li>
    </ul>
  </div>
</div>
<div class="container cards__container">
  <ul class="cards__list list-reset">
    <li class="card" *ngFor="let item of English_language | filter: searchText">
      <h5 class="card-header">{{item.title}}</h5>
      <div class="card-body">
        <h5 class="card-title">{{item.name}}</h5>
        <ul class="filter__group list-reset">
          <li class="filter__item">
            <p class="filter__component">{{item.filters[0]}}</p>
          </li>
          <li class="filter__item">
            <p class="filter__component">{{item.filters[1]}}</p>
          </li>
          <li class="filter__item">
            <p class="filter__component">{{item.filters[2]}}</p>
          </li>
        </ul>
        <div class="address__group">
          <p class="card-text card__address">{{item.address}}</p>
          <button class="show-map btn-reset">Показать на карте</button>
        </div>
        <p class="group__number"><b>Группа</b> {{item.group}}</p>
        <p class="group__time">{{item.day}} {{item.start_time}}-{{item.end_time}}</p>
        <div class="cards__btns">
          <button href="#" class="btn btn-primary enroll-btn">Записаться</button>
          <button class="btn-reset">Узнать больше</button>
        </div>
      </div>
    </li>
    <li class="card" *ngFor="let item of Walk | filter: searchText">
      <h5 class="card-header">{{item.title}}</h5>
      <div class="card-body">
        <h5 class="card-title">{{item.name}}</h5>
        <ul class="filter__group list-reset">
          <li class="filter__item">
            <p class="filter__component">{{item.filters[0]}}</p>
          </li>
          <li class="filter__item">
            <p class="filter__component">{{item.filters[1]}}</p>
          </li>
          <li class="filter__item">
            <p class="filter__component">{{item.filters[2]}}</p>
          </li>
        </ul>
        <div class="address__group">
          <p class="card-text card__address">{{item.address}}</p>
          <button class="show-map btn-reset">Показать на карте</button>
        </div>
        <p class="group__number"><b>Группа</b> {{item.group}}</p>
        <p class="group__time">{{item.day}} {{item.start_time}}-{{item.end_time}}</p>
        <div class="cards__btns">
          <button href="#" class="btn btn-primary enroll-btn">Записаться</button>
          <button class="btn-reset">Узнать больше</button>
        </div>
      </div>
    </li>
    <li class="card" *ngFor="let item of Drive | filter: searchText">
      <h5 class="card-header">{{item.title}}</h5>
      <div class="card-body">
        <h5 class="card-title">{{item.name}}</h5>
        <ul class="filter__group list-reset">
          <li class="filter__item">
            <p class="filter__component">{{item.filters[0]}}</p>
          </li>
          <li class="filter__item">
            <p class="filter__component">{{item.filters[1]}}</p>
          </li>
          <li class="filter__item">
            <p class="filter__component">{{item.filters[2]}}</p>
          </li>
        </ul>
        <div class="address__group">
          <p class="card-text card__address">{{item.address}}</p>
          <button class="show-map btn-reset">Показать на карте</button>
        </div>
        <p class="group__number"><b>Группа</b> G-0safas387</p>
        <p class="group__time">{{item.day}} {{item.start_time}}-{{item.end_time}}</p>
        <div class="cards__btns">
          <button href="#" class="btn btn-primary enroll-btn">Записаться</button>
          <button class="btn-reset">Узнать больше</button>
        </div>
      </div>
    </li>
  </ul>
</div>
