.cards__container {
  padding-top: 30px;
  margin: 0 auto;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 30px;
}

.cards__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  width: 48%;
}

.card:not(:last-child) {
  margin-right: 15px;
  margin-bottom: 15px;
}

.cards__container {
  background-color: rgba(190, 190, 190, 0.1);
}

.filter__group {
  display: flex;
  margin-bottom: 10px;
}

.filter__item:not(:last-child) {
  margin-right: 10px;
}

.filter__component {
  margin-bottom: 0;
  font-size: 15px;
  display: block;
  padding: 5px;
  background-color: rgba(13, 140, 70, 0.1);
  border-radius: 4px;
}

.enroll-btn {
  color: white;
}

.address__group {
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;
}

.card__address {
  margin-right: 10px;
  margin-bottom: 0;
  max-width: 290px;
}

.show-map {
  color: rgba(204, 34, 34, 0.7);
  transition: color .3s ease-in-out;
}

.show-map:hover {
  color: rgb(204, 34, 34);
}

.card-body {
  display: grid;
  flex-direction: column;
}

.cards__btns {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.cards__btns .enroll-btn {
  margin-right: 10px;
  font-size: 18px;
  padding-left: 50px;
  padding-right: 50px;
}


.header .header__container {
  padding-left: 100px;
  padding-top: 30px;
  padding-right: 100px;
}

.search__area {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.header__search {
  width: 70%;
  margin-right: 41px;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid rgba(13, 140, 70, .4);
  outline: none;
  border-radius: 8px;
  transition: border-color .3s ease-in-out;
}

.header__search:focus {
  border-width: 2px;
}

.header__search:hover {
  border-color: rgb(13, 140, 70);
}

.search__btn {
  color: #f2f2f2;
  padding: 8px 40px;
  border-radius: 4px;
}

.filter__custom-select {
  border-radius: 4px;
}

.filter__custom-select:hover {
  border-color: rgb(13, 140, 70);
}

.filters__area {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.filters__item {
  width: 260px;
  max-height: 60px;
}

.filters__item:not(:last-child) {
  margin-right: 15px;
  margin-bottom: 15px;
}

.card-header {
  font-weight: 600;
  font-size: 25px;
  color: var(--green);
}

.card-title {
  color: var(--red);
  font-weight: 500;
}

.group__text {
  font-weight: 600;
}

.group__number {
  margin-bottom: 10px;
}

.group__time {
  margin-bottom: 10px;
}
