.cards__container {
  padding-top: 30px;
  margin: 0 auto;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 30px;
}

.container .card {
  font-family: "Montserrat"
}

.card {
  margin-top: 30px;
}

.cards__container {
  background-color: rgba(190, 190, 190, 0.3);
  ;
}

.filter__group {
  display: flex;
  margin-bottom: 10px;
}

.filter__item {
  font-size: 15px;
  display: block;
  height: 32px;
  padding: 4px;
  background-color: rgba(190, 190, 190, 0.3);
}

.filter__item:not(:last-child) {
  margin-right: 10px;
}

.enroll-btn {
  color: white;
}

.address__group {
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;
}

.card__address {
  margin-right: 10px;
}

.show-map {
  color: #0045F7;
}

.cards__btns {
  font-size: 18px;
}

.cards__btns .enroll-btn {
  margin-right: 10px;
  font-size: 18px;
  padding-left: 50px;
  padding-right: 50px;
}


.header .header__container {
  padding-left: 100px;
  padding-top: 30px;
  padding-right: 100px;
}

.search__area {
  margin-bottom: 15px;
}

.header__search {
  width: 70%;
  margin-right: 30px;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #3d3d3d;
  outline: none;
  border-radius: 8px;
}

.search__btn {
  background-color: blue;
  color: #f2f2f2;
  padding: 8px 30px;
  border-radius: 4px;
}

.group__number {
  margin-bottom: 10px;
}

.group__time {
  margin-bottom: 10px;
}

.filters__area {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.filters__item {
  width: 260px;
  max-height: 60px;
}

.filters__item:not(:last-child) {
  margin-right: 15px;
  margin-bottom: 15px;
}
